@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field {
  @apply w-full p-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-600;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #1f2937;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

  p {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 text-white transition bg-blue-600 rounded hover:bg-blue-700;
  }
}
